<?xml version="1.0" encoding="utf-8"?>
<manifest
    package="ademar.goodreads"
    xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>

    <application
        android:name=".App"
        android:allowBackup="true"
        android:fullBackupContent="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <activity
            android:name=".ui.common.activity.StartActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:label="@string/app_name"
            android:theme="@style/StartTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

        <activity
            android:name=".ui.common.activity.MainActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:label="@string/search_label"/>

        <activity
            android:name=".ui.search.activity.SearchActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:label="@string/search_label"
            android:parentActivityName=".ui.common.activity.MainActivity"
            android:theme="@style/SearchTheme"
            android:windowSoftInputMode="adjustResize"/>

    </application>

</manifest>
